:root{
  --bg-main: #ffe461;
  --bg-clear: #ffe875;
  --feather: #2084db;
  --headphones:#757575;
  --jacket1:#4df87b;
  --jacket2:#00ad2e;
  --scarf:#ff4949;
  --bag:#b47f2f;
  --beak:#eeff38;
  --feet:#ffde38;

  --button:#2BADB2;
  --buttonHover:#19569C;
  --buttonBorder:#204F09;
}

body {
  background-color: var(--bg-clear);
  overflow: hidden;
}

.leftpart {
  background-color: #2B573E;
  height: 100vh;
  box-shadow: -10px 0px 20px 8px rgba(0, 0, 0, 0.7);
  margin-right: 3px;
}

.middlepart {
  height: 100vh;
}

.rightpart {
  background-color: var(--bg-clear);
  height: 100vh;
  overflow-y: scroll;
}

.icon {
  height: 50px;
  width:  50px;
}

.leftChoices {
  height: 50px;
  margin: 5px 0px 5px 0px;
  background-color:var(--button);
  border-style: hidden;
  border-bottom: 5px solid var(--buttonBorder);
  box-shadow: none;
  transition: 0.2s;
}

.active {
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.7);
}

.leftChoices:hover {
    background-color:var(--buttonHover);
}

.leftChoices:focus {
  transition: 0.2s;
}

.leftChoices:focus:hover {
  transition: 0.2s;
}


.innerLeft {
  padding-top: 10px;
  overflow-y: scroll;
}

.bubbleSpeech {
	position: relative;
	max-width: 30em;

  margin-top: 15px;
  height: 100vh;

	background-color: #47C869;
	padding: 1.125em 1.5em;
	font-size: 1.25em;
	border-radius: 1rem;
  border: 1px solid var(--jacket2);
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.bubbleSpeech::before {
  content: '';
  position: absolute;
  width: 0px;
  height:0px;
  bottom:100%;
  left: 48%;
  border:  .80rem solid transparent;
  border-top: none;

  border-bottom-color: #47C869;
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.tabContent {
  visibility: visible;
  transition: 1s;
}

.leftTab {
  border-radius: 15px;
}

.tweets {
  background-color: var(--jacket1);
  border: 3px solid var(--jacket2);
  height:500px;
  display: block;
  overflow-y: scroll;
}

.fit-in-div {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

footer {
  background-color: inherit;
  height: 0px;
}


/*-----------*/
/* SCROLLBAR */
/*-----------*/

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  /*background: var(--feather);*/
  background-color: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scarf);
}
