:root {
    --background: #404552;
    --main-color-dark: #383c4a;
    --main-color-light: #4b5162;
    --secondary-color: #5294e2;
    --main-color-lighter:#7c818c;

    --font-color:rgba(204, 204, 204, 0.938);
}

body {
    background-color: var(--background);
    color:var(--font-color);
}

.main-content {
    height:90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-around;


}

.main-upper {
    background-color: var(--main-color-dark);

    font-size:large;

    width:90%;
    padding: 10px;

    display: flex;
    align-items: center;
    flex-direction: row;
    
    justify-content: space-evenly;

    text-align: center;

    box-shadow: 5px 5px 20px 5px #33333346;
    border-radius: 20px;
}

.icon {
    max-width: 100px;
}

.main-lower {
    background-color: var(--main-color-light);

    text-align: center;
    width: 80%;
    height: 300px;

    padding-top: 10;
    padding-bottom: 10px;

    display:flex;
    flex-direction: column;
    justify-content: space-evenly;

    box-shadow: 5px 5px 20px 5px #33333346;
    border-radius: 20px;
    border: 2px solid var(--main-color-dark)
}

.info-tab {
    border-bottom: 2px solid var(--main-color-dark);
    
    padding:10px;
    
    height: 90%;

    font-size: larger;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.info-tab button {
    max-width: fit-content;
}

.media-tab {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}

.media-tab .logo-link {
    width:50px;
    height: 50px;

    display: grid;
    align-items: center;
    margin: 10px;
}

.media-tab .logo-link img {

    display: block;
    width: auto;
    height: auto;

    max-width: 100%;
    max-height: 100%;

    image-rendering: auto;
}

footer {
    text-align: center;
}

.footer-text {
    font-style: italic;
    font-size: small;
    color:rosybrown
}